# 파테크 뉴스 
https://www.etoday.co.kr/news/view/2000363

# 파값 데이터
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2021-04-06&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N

# 날씨 데이터 
https://www.weather.go.kr/weather/climate/past_cal.jsp

날씨, 제배 면적, 제배량, 가격, 물가 데이터

### 파 설명 
https://agro.seoul.go.kr/archives/157#:~:text=%EA%B0%80%EC%9D%84%EC%97%90%20%ED%8C%8C%EC%A2%85%ED%95%98%EC%97%AC%20%EB%AC%98%EC%83%81,%EC%97%90%20%EC%88%98%ED%99%95%ED%95%98%EB%8A%94%20%EC%9E%91%ED%98%95%EC%9D%B4%EB%8B%A4.

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from time import sleep
from urllib.request import urlopen

In [3]:
# 파값 가격 크롤링 
url = "https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2021-04-06&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N"
page = urlopen(url)
soup = BeautifulSoup(page, "html.parser")

In [4]:
print(soup.find('head').prettify())

<head>
 <meta charset="utf-8"/>
 <title>
  농산물유통정보:::KAMIS
 </title>
 <meta content="text/javascript" http-equiv="Content-Script-Type"/>
 <meta content="text/css" http-equiv="Content-Style-Type"/>
 <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
 <meta content="" name="description"/>
 <meta content="" name="author"/>
 <!--<link rel="stylesheet" href="/css/customer/common.css" />-->
 <link href="/common/css/common.css" rel="stylesheet"/>
 <link href="/common/css/common_new.css" rel="stylesheet"/>
 <script src="/common/js/jquery-1.10.2.js">
 </script>
 <script src="/js/customer/jquery-ui.js">
 </script>
 <script src="/js/customer/respond.js">
 </script>
 <script src="/js/customer/common.js">
 </script>
 <script src="/js/customer/jsutil.js">
 </script>
 <script src="/js/customer/circulation/domestic.js">
 </script>
 <script src="/js/customer/charts/highcharts.js">
 </script>
 <script src="/js/customer/charts/exporting.js">
 </script>
 <script src="/js/customer/iteminfo_util_common.js">
 </script>
 <script src="/common/js/common_new.js">
 </script>
 <!--[if lt IE 7]>
	<script type="text/javascript">//location.href="";</script>
<![endif]-->
 <!--[if lt IE 9]>
	<script type="text/javascript" src="/js/customer/html5shiv.js"></script>
<![endif]-->
 <script src="/js/customer/iteminfo_util.js">
 </script>
 <script src="/js/customer/excel_util.js">
 </script>
 <script src="/js/customer/price/product/item.js">
 </script>
 <script type="text/javascript">
  //<![CDATA[
		$(function() {
			(new IteminfoUtil()).init({'$itemcategorycode' : $('#itemcategorycode'), '$itemcode' : $('#itemcode'), '$kindcode' : $('#kindcode'), '$productrankcode' : $('#productrankcode'), 'pepper_all_yn' : 'Y', 'productclscode' : '', '$regday' : $('#regday')});
		});
		//]]>
 </script>
</head>

In [5]:
web  = "https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2021-04-27&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N"

In [37]:
dd = pd.read_html(web)[5].iloc[:,:-3]
dd

    구 분 구 분.1 당일 04/27  1일전04/26  4일전04/23  5일전04/22  6일전04/21  7일전04/20
0    평균    평균     6155    6198.0    6194.0    6271.0    6308.0    6332.0
1   최고값   최고값     8540    8540.0    8540.0    8540.0    8540.0    8540.0
2   최저값   최저값     4200    4200.0    3980.0    4200.0    4200.0    4200.0
3   등락률   등락률        -      -0.7      -0.6      -1.8      -2.4      -2.8
4    서울    경동     5000    5500.0    5500.0    5500.0    5500.0    5500.0
5    서울   복조리     5000    5330.0    5330.0    5330.0    5330.0    5330.0
6    서울  A-유통     8220    8220.0    8220.0    8220.0    8220.0    8220.0
7    서울  B-유통     5520    4870.0    5690.0    6360.0    6360.0    7440.0
8    서울  C-유통     5980    5980.0    5980.0    5980.0    5980.0    5980.0
9    서울  E-유통     7970    7970.0    7970.0    7970.0    7970.0    7970.0
10   서울  F-유통     7970    7970.0    7970.0    7970.0    7970.0    7970.0
11   부산    부전     4500    4500.0    4500.0    4500.0    4800.0    4800.0
12   부산  A-유통     8220    8220.0    8220.0    8220.0    8220.0    8220.0
13   부산  D-유통     6500    6500.0    6500.0    6500.0    6500.0    6500.0
14   대구    칠성     4300    4300.0    4300.0    4300.0    4500.0    4500.0
15   대구  A-유통     8320    8320.0    8320.0    8320.0    8320.0    8320.0
16   대구  C-유통     6620    6620.0    6620.0    6620.0    6620.0    6620.0
17   인천    현대     5500    5500.0    5500.0    5500.0    5500.0    5500.0
18   인천  E-유통     6640    6640.0    6640.0    6640.0    6640.0    6640.0
19   광주    양동     4200    4200.0    4200.0    4200.0    4200.0    4200.0
20   광주  A-유통     8220    8220.0    8220.0    8220.0    8220.0    8220.0
21   광주  C-유통     5980    5980.0    5980.0    5980.0    5980.0    5980.0
22   대전    역전     4500    4580.0    4580.0    4750.0    4910.0    5000.0
23   대전  C-유통     5480    5480.0    5480.0    5480.0    5480.0    5480.0
24   대전  E-유통     8540    8540.0    8540.0    8540.0    8540.0    8540.0
25   울산    신정     4800    4800.0    4800.0    5000.0    5000.0    5000.0
26   울산  A-유통     8220    8220.0    8220.0    8220.0    8220.0    8220.0
27   세종  C-유통     5980    5980.0    5980.0    5980.0    5980.0    5980.0
28   수원    지동     4830    5000.0    5000.0    5180.0    5180.0    5370.0
29   수원  B-유통     5090    5090.0    3980.0    4680.0    5510.0    5510.0
30  의정부  A-유통     8220    8220.0    8220.0    8220.0    8220.0    8220.0
31   춘천    중앙     5000    5500.0    5500.0    5500.0    5660.0    5660.0
32   춘천  E-유통     7970    7970.0    7970.0    7970.0    7970.0    7970.0
33   강릉    중앙     5000    5000.0    5000.0    5000.0    5000.0    5000.0
34   강릉  A-유통     8520    8520.0    8520.0    8520.0    8520.0    8520.0
35   청주   육거리     4660    5000.0    5000.0    5000.0    5000.0    4500.0
36   청주  B-유통     4260    4260.0    4260.0    5690.0    5690.0    5690.0
37   전주    남부     4330    4830.0    4830.0    4830.0    4830.0    4830.0
38   전주  C-유통     6480    6480.0    6480.0    6480.0    6480.0    6480.0
39   순천    역전     4830    4830.0    4830.0    4830.0    4830.0    4830.0
40   순천  A-유통     8220    8220.0    8220.0    8220.0    8220.0    8220.0
41   포항    죽도     4500    4500.0    4500.0    4500.0    4500.0    4660.0
42   포항  E-유통     7970    7970.0    7970.0    7970.0    7970.0    7970.0
43   안동  C-유통     5980    5980.0    5980.0    5980.0    5980.0    5980.0
44   창원    상남     5330    5460.0    5560.0    5600.0    5600.0    5600.0
45   창원  C-유통     6620    6620.0    6620.0    6620.0    6620.0    6620.0
46   제주    동문     5000    5000.0    5000.0    5000.0    5000.0    5000.0
47   제주  C-유통     5830    5830.0    5830.0    5830.0    5830.0    5830.0

In [35]:
dd.iloc[:,:-3]

    구 분 구 분.1 당일 04/27  1일전04/26  4일전04/23  5일전04/22  6일전04/21  7일전04/20
3   등락률   등락률        -      -0.7      -0.6      -1.8      -2.4      -2.8
4    서울    경동     5000    5500.0    5500.0    5500.0    5500.0    5500.0
5    서울   복조리     5000    5330.0    5330.0    5330.0    5330.0    5330.0
6    서울  A-유통     8220    8220.0    8220.0    8220.0    8220.0    8220.0
7    서울  B-유통     5520    4870.0    5690.0    6360.0    6360.0    7440.0
8    서울  C-유통     5980    5980.0    5980.0    5980.0    5980.0    5980.0
9    서울  E-유통     7970    7970.0    7970.0    7970.0    7970.0    7970.0
10   서울  F-유통     7970    7970.0    7970.0    7970.0    7970.0    7970.0
11   부산    부전     4500    4500.0    4500.0    4500.0    4800.0    4800.0
12   부산  A-유통     8220    8220.0    8220.0    8220.0    8220.0    8220.0
13   부산  D-유통     6500    6500.0    6500.0    6500.0    6500.0    6500.0
14   대구    칠성     4300    4300.0    4300.0    4300.0    4500.0    4500.0
15   대구  A-유통     8320    8320.0    8320.0    8320.0    8320.0    8320.0
16   대구  C-유통     6620    6620.0    6620.0    6620.0    6620.0    6620.0
17   인천    현대     5500    5500.0    5500.0    5500.0    5500.0    5500.0
18   인천  E-유통     6640    6640.0    6640.0    6640.0    6640.0    6640.0
19   광주    양동     4200    4200.0    4200.0    4200.0    4200.0    4200.0
20   광주  A-유통     8220    8220.0    8220.0    8220.0    8220.0    8220.0
21   광주  C-유통     5980    5980.0    5980.0    5980.0    5980.0    5980.0
22   대전    역전     4500    4580.0    4580.0    4750.0    4910.0    5000.0
23   대전  C-유통     5480    5480.0    5480.0    5480.0    5480.0    5480.0
24   대전  E-유통     8540    8540.0    8540.0    8540.0    8540.0    8540.0
25   울산    신정     4800    4800.0    4800.0    5000.0    5000.0    5000.0
26   울산  A-유통     8220    8220.0    8220.0    8220.0    8220.0    8220.0
27   세종  C-유통     5980    5980.0    5980.0    5980.0    5980.0    5980.0
28   수원    지동     4830    5000.0    5000.0    5180.0    5180.0    5370.0
29   수원  B-유통     5090    5090.0    3980.0    4680.0    5510.0    5510.0
30  의정부  A-유통     8220    8220.0    8220.0    8220.0    8220.0    8220.0
31   춘천    중앙     5000    5500.0    5500.0    5500.0    5660.0    5660.0
32   춘천  E-유통     7970    7970.0    7970.0    7970.0    7970.0    7970.0
33   강릉    중앙     5000    5000.0    5000.0    5000.0    5000.0    5000.0
34   강릉  A-유통     8520    8520.0    8520.0    8520.0    8520.0    8520.0
35   청주   육거리     4660    5000.0    5000.0    5000.0    5000.0    4500.0
36   청주  B-유통     4260    4260.0    4260.0    5690.0    5690.0    5690.0
37   전주    남부     4330    4830.0    4830.0    4830.0    4830.0    4830.0
38   전주  C-유통     6480    6480.0    6480.0    6480.0    6480.0    6480.0
39   순천    역전     4830    4830.0    4830.0    4830.0    4830.0    4830.0
40   순천  A-유통     8220    8220.0    8220.0    8220.0    8220.0    8220.0
41   포항    죽도     4500    4500.0    4500.0    4500.0    4500.0    4660.0
42   포항  E-유통     7970    7970.0    7970.0    7970.0    7970.0    7970.0
43   안동  C-유통     5980    5980.0    5980.0    5980.0    5980.0    5980.0
44   창원    상남     5330    5460.0    5560.0    5600.0    5600.0    5600.0
45   창원  C-유통     6620    6620.0    6620.0    6620.0    6620.0    6620.0
46   제주    동문     5000    5000.0    5000.0    5000.0    5000.0    5000.0
47   제주  C-유통     5830    5830.0    5830.0    5830.0    5830.0    5830.0

In [25]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구 분       48 non-null     object
 1   구 분.1     48 non-null     object
 2   당일 04/27  48 non-null     object
 3   1일전04/26  48 non-null     float64
 4   4일전04/23  48 non-null     float64
 5   5일전04/22  48 non-null     float64
 6   6일전04/21  48 non-null     float64
 7   7일전04/20  48 non-null     float64
 8   1개월전      48 non-null     float64
 9   1년전       48 non-null     object
 10  평년        48 non-null     object
dtypes: float64(6), object(5)
memory usage: 4.2+ KB

In [294]:
df.iloc[:,-1]

0    1875.000
1    1950.000
2    1825.000
3       1.525
4    1825.000
5    1850.000
6    1900.000
7     900.000
8     950.000
9    1950.000
Name: 평균, dtype: float64

In [6]:
url = "https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday={}&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N"
date = pd.date_range('2019.01.01', '2020.01.05', freq='W').strftime('%Y-%m-%d')
df = []
for dates in date: 
    urls = url.format(dates)
    print(urls)

https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-01-06&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-01-13&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-01-20&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-01-27&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-02-03&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-02-10&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-02-17&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-02-24&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-03-03&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-03-10&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-03-17&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-03-24&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-03-31&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-04-07&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-04-14&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-04-21&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-04-28&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-05-05&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-05-12&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-05-19&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-05-26&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-06-02&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-06-09&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-06-16&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-06-23&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-06-30&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-07-07&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-07-14&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-07-21&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-07-28&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-08-04&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-08-11&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-08-18&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-08-25&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-09-01&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-09-08&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-09-15&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-09-22&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-09-29&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-10-06&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-10-13&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-10-20&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-10-27&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-11-03&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-11-10&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-11-17&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-11-24&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-12-01&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-12-08&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-12-15&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-12-22&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-12-29&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2020-01-05&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N

In [280]:
df1 = pd.DataFrame()
for dates in date: 
    urls = url.format(dates)
    df = pd.read_html(urls, header=0)[3]
    a = df.iloc[:,1:5]
    a = a.replace("-",0).astype(float)
    df["평균"] = a.mean(axis = 1)
    df1 = pd.concat([df1,df],axis=1)

In [281]:
df1

,구 분,2일전01/04,3일전01/03,4일전01/02,6일전12/31,1개월전,1년전,평년,평균,구 분,...,평균,구 분,2일전01/03,3일전01/02,5일전12/31,6일전12/30,1개월전,1년전,평년,평균
0,평균,1860.0,1800.0,1700.0,1700.0,1688.0,1776.0,1720.0,1765.000,평균,...,1705.000,평균,1900,1940,1920,1740,1812,1784,1864,1875.000
1,최고값,2000.0,2000.0,2000.0,2000.0,1960.0,1900.0,1810.0,2000.000,최고값,...,1800.000,최고값,2000,2000,2000,1800,1840,2000,2048,1950.000
2,최저값,1700.0,1400.0,1400.0,1400.0,1460.0,1700.0,1567.0,1475.000,최저값,...,1600.000,최저값,1800,1900,1900,1700,1780,1520,1737,1825.000
3,등락률,0.0,3.3,9.4,9.4,10.2,4.7,8.1,5.525,등락률,...,-1.425,등락률,0.0,-2.1,-1.0,9.2,4.9,6.5,1.9,1.525
4,서울,2000.0,2000.0,1800.0,1800.0,1960.0,1800.0,1810.0,1900.000,서울,...,1700.000,서울,1800,1900,1900,1700,1800,1920,2048,1825.000
5,부산,1800.0,1800.0,1600.0,1600.0,1600.0,1700.0,1758.0,1700.000,부산,...,1700.000,부산,1900,1900,1900,1700,1820,1720,1840,1850.000
6,대구,1700.0,1400.0,1400.0,1400.0,1460.0,1780.0,1705.0,1475.000,대구,...,1775.000,대구,1900,2000,1900,1800,1840,1520,1777,1900.000
7,광주,1800.0,1800.0,1700.0,1700.0,1620.0,1700.0,1567.0,1750.000,광주,...,1700.000,광주,-,-,1900,1700,1820,1760,1737,900.000
8,대전,2000.0,2000.0,2000.0,2000.0,1800.0,1900.0,1760.0,2000.000,대전,...,1650.000,광주,1900,1900,-,-,-,-,-,950.000
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,대전,2000,2000,2000,1800,1780,2000,1917,1950.000

In [72]:
df1.iloc[0]

구 분             평균
구 분.1           평균
2일전12/27      2766
3일전12/26      2792
5일전12/24      2791
             ...
3일전12/31      3504
4일전12/30      3546
5일전12/29      3540
6일전12/28      3532
평균          3530.5
Name: 0, Length: 416, dtype: object

In [278]:
df1.T.reset_index().head(20)

       index     0     1     2     3     4     5     6     7     8    9
0        구 분    평균   최고값   최저값   등락률    서울    부산    대구    광주    대전  NaN
1   2일전01/04  1860  2000  1700     0  2000  1800  1700  1800  2000  NaN
2   3일전01/03  1800  2000  1400   3.3  2000  1800  1400  1800  2000  NaN
3   4일전01/02  1700  2000  1400   9.4  1800  1600  1400  1700  2000  NaN
4   6일전12/31  1700  2000  1400   9.4  1800  1600  1400  1700  2000  NaN
5       1개월전  1688  1960  1460  10.2  1960  1600  1460  1620  1800  NaN
6        1년전  1776  1900  1700   4.7  1800  1700  1780  1700  1900  NaN
7         평년  1720  1810  1567   8.1  1810  1758  1705  1567  1760  NaN
8         평균   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN
9        구 분    평균   최고값   최저값   등락률    서울    부산    대구    광주    대전  NaN
10  2일전01/11  1660  1800  1400     0  1600  1800  1400  1700  1800  NaN
11  3일전01/10  1680  1800  1400  -1.2  1600  1800  1400  1800  1800  NaN
12  4일전01/09  1720  1800  1400  -3.5  1800  1800  1400  1800  1800  NaN
13  5일전01/08  1820  2000  1500  -8.8  2000  1800  1500  1800  2000  NaN
14  6일전01/07  1860  2000  1700 -10.8  2000  1800  1700  1800  2000  NaN
15      1개월전  1792  2120  1520  -7.4  2120  1600  1520  1760  1960  NaN
16       1년전  1896  2000  1780 -12.4  2000  1820  1900  1780  1980  NaN
17        평년  1722  1793  1593  -3.6  1777  1720  1725  1593  1793  NaN
18        평균   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN
19       구 분    평균   최고값   최저값   등락률    서울    부산    대구    광주    대전  NaN

In [218]:
from matplotlib import font_manager, rc 
plt.rcParams['axes.unicode_minus'] = False
import seaborn as sns 

f_path = "/Library/Fonts/Arial Unicode.ttf"

font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family=font_name)
df1.to_csv(r'pa1.csv')

In [219]:
df1.to_excel(r'pa1.xlsx')

In [220]:
data = pd.read_excel("19_pa_price.xlsx")
data

,Unnamed: 0,구 분,2일전01/04,3일전01/03,4일전01/02,6일전12/31,1개월전,1년전,평년,구 분.1,...,1년전.51,평년.51,구 분.52,2일전01/03,3일전01/02,5일전12/31,6일전12/30,1개월전.52,1년전.52,평년.52
0,0,평균,1860,1800.0,1700.0,1700.0,1688.0,1776.0,1720.0,평균,...,1668.0,1811.0,평균,1900.0,1940.0,1920.0,1740.0,1812.0,1784.0,1864.0
1,1,최고값,2000,2000.0,2000.0,2000.0,1960.0,1900.0,1810.0,최고값,...,1920.0,2017.0,최고값,2000.0,2000.0,2000.0,1800.0,1840.0,2000.0,2048.0
2,2,최저값,1700,1400.0,1400.0,1400.0,1460.0,1700.0,1567.0,최저값,...,1400.0,1662.0,최저값,1800.0,1900.0,1900.0,1700.0,1780.0,1520.0,1737.0
3,3,등락률,0,3.3,9.4,9.4,10.2,4.7,8.1,등락률,...,0.7,-7.2,등락률,0.0,-2.1,-1.0,9.2,4.9,6.5,1.9
4,4,서울,2000,2000.0,1800.0,1800.0,1960.0,1800.0,1810.0,서울,...,1800.0,2017.0,서울,1800.0,1900.0,1900.0,1700.0,1800.0,1920.0,2048.0
5,5,부산,1800,1800.0,1600.0,1600.0,1600.0,1700.0,1758.0,부산,...,1560.0,1787.0,부산,1900.0,1900.0,1900.0,1700.0,1820.0,1720.0,1840.0
6,6,대구,1700,1400.0,1400.0,1400.0,1460.0,1780.0,1705.0,대구,...,1400.0,1717.0,대구,1900.0,2000.0,1900.0,1800.0,1840.0,1520.0,1777.0
7,7,광주,1800,1800.0,1700.0,1700.0,1620.0,1700.0,1567.0,광주,...,1660.0,1662.0,광주,1900.0,1900.0,1900.0,1700.0,1820.0,1760.0,1737.0
8,8,대전,2000,2000.0,2000.0,2000.0,1800.0,1900.0,1760.0,대전,...,1920.0,1873.0,광주,2000.0,2000.0,2000.0,1800.0,1780.0,2000.0,1917.0

In [221]:
data.T[1:]

             0     1     2    3     4     5     6     7     8
구 분         평균   최고값   최저값  등락률    서울    부산    대구    광주    대전
2일전01/04  1860  2000  1700    0  2000  1800  1700  1800  2000
3일전01/03  1800  2000  1400  3.3  2000  1800  1400  1800  2000
4일전01/02  1700  2000  1400  9.4  1800  1600  1400  1700  2000
6일전12/31  1700  2000  1400  9.4  1800  1600  1400  1700  2000
...        ...   ...   ...  ...   ...   ...   ...   ...   ...
5일전12/31  1920  2000  1900   -1  1900  1900  1900  1900  2000
6일전12/30  1740  1800  1700  9.2  1700  1700  1800  1700  1800
1개월전.52   1812  1840  1780  4.9  1800  1820  1840  1820  1780
1년전.52    1784  2000  1520  6.5  1920  1720  1520  1760  2000
평년.52     1864  2048  1737  1.9  2048  1840  1777  1737  1917

[461 rows x 9 columns]

In [224]:
# 소매가격으로 다시 
df1 = pd.DataFrame()
for dates in date: 
    urls = url.format(dates)
    df = pd.read_html(urls, header=0)[5]
    df1 = pd.concat([df1,df],axis=1)

In [226]:
df1.to_excel(r'19_pa.xlsx')

In [59]:
df1

,구 분,구 분.1,2일전01/04,3일전01/03,4일전01/02,6일전12/31,평균,구 분,구 분.1,2일전01/11,...,5일전12/24,6일전12/23,평균,구 분,구 분.1,2일전01/03,3일전01/02,5일전12/31,6일전12/30,평균
0,평균,평균,3197.0,3306.0,3222.0,3277.0,3250.50,평균,평균,3028.0,...,2791.0,2790.0,2784.750,평균,평균,2730.0,2720.0,2792.0,2774.0,2754.00
1,최고값,최고값,4690.0,4770.0,4770.0,4770.0,4750.00,최고값,최고값,4000.0,...,3970.0,3970.0,3940.000,최고값,최고값,4260.0,4260.0,3830.0,3830.0,4045.00
2,최저값,최저값,2000.0,2000.0,2000.0,2000.0,2000.00,최저값,최저값,2000.0,...,1700.0,1700.0,1800.000,최저값,최저값,1880.0,1880.0,1880.0,1880.0,1880.00
3,등락률,등락률,0.0,-3.3,-0.8,-2.5,-1.65,등락률,등락률,0.0,...,-0.9,-0.9,-0.675,등락률,등락률,0.0,0.4,-2.2,-1.6,-0.85
4,서울,경동,2830.0,2660.0,2660.0,2660.0,2702.50,서울,경동,2660.0,...,2660.0,2660.0,2660.000,서울,경동,2830.0,2830.0,2660.0,2660.0,2745.00
5,서울,복조리,2500.0,2500.0,2500.0,2500.0,2500.00,서울,복조리,2500.0,...,2160.0,2160.0,2160.000,서울,복조리,2500.0,2500.0,2400.0,2160.0,2390.00
6,서울,영등포,2500.0,2500.0,2500.0,2500.0,2500.00,서울,영등포,2330.0,...,2000.0,2000.0,2000.000,서울,영등포,2330.0,2330.0,2160.0,2000.0,2205.00
7,서울,A-유통,3450.0,3840.0,3840.0,3840.0,3742.50,서울,A-유통,3450.0,...,3490.0,3490.0,3490.000,서울,A-유통,2990.0,2990.0,3490.0,3490.0,3240.00
8,서울,B-유통,2780.0,2780.0,2680.0,2680.0,2730.00,서울,B-유통,2280.0,...,1980.0,1980.0,1980.000,서울,B-유통,1880.0,1880.0,1880.0,1880.0,1880.00
9,서울,C-유통,3310.0,3310.0,3310.0,3500.0,3357.50,서울,C-유통,3310.0,...,2520.0,2520.0,2520.000,서울,C-유통,2580.0,2580.0,2520.0,2520.0,2550.00
10,서울,E-유통,4370.0,4370.0,3700.0,3700.0,4035.00,서울,E-유통,3830.0,...,3270.0,3270.0,3210.000,서울,E-유통,3510.0,3510.0,3150.0,3150.0,3330.00
11,부산,부전,2400.0,2400.0,2400.0,2400.0,2400.00,부산,부전,2400.0,...,3270.0,3270.0,3210.000,서울,F-유통,2980.0,3150.0,3150.0,3150.0,3107.50
12,부산,A-유통,3680.0,4510.0,4510.0,4510.0,4302.50,부산,A-유통,3680.0,...,2000.0,2000.0,2000.000,부산,부전,2500.0,2500.0,2300.0,2000.0,2325.00
13,부산,D-유통,2830.0,2830.0,2830.0,3920.0,3102.50,부산,D-유통,3860.0,...,3490.0,3490.0,3490.000,부산,A-유통,2990.0,2990.0,3490.0,3490.0,3240.00
14,대구,동구,2500.0,2500.0,2500.0,2500.0,2500.00,대구,동구,2500.0,...,3560.0,3560.0,3560.000,부산,D-유통,2840.0,2840.0,3560.0,3560.0,3200.00
15,대구,A-유통,3790.0,4450.0,4450.0,4450.0,4285.00,대구,A-유통,3540.0,...,2500.0,2500.0,2500.000,대구,동구,2500.0,2500.0,2500.0,2500.0,2500.00
16,대구,C-유통,3720.0,3720.0,3720.0,3720.0,3720.00,대구,C-유통,3470.0,...,3490.0,3490.0,3490.000,대구,A-유통,2990.0,2990.0,3490.0,3490.0,3240.00
17,인천,현대,2500.0,2500.0,2500.0,2500.0,2500.00,인천,현대,2500.0,...,2640.0,2640.0,2650.000,대구,C-유통,2580.0,2580.0,2660.0,2660.0,2620.00
18,인천,E-유통,4260.0,4680.0,3980.0,3980.0,4225.00,인천,E-유통,4000.0,...,2500.0,2500.0,2500.000,인천,현대,2500.0,2500.0,2500.0,2500.0,2500.00
19,광주,양동,2500.0,2500.0,2500.0,2500.0,2500.00,광주,양동,2500.0,...,3970.0,3970.0,3900.000,인천,E-유통,3730.0,3350.0,3830.0,3830.0,3685.00
20,광주,A-유통,3300.0,3300.0,3840.0,3840.0,3570.00,광주,A-유통,3450.0,...,2000.0,2000.0,2000.000,광주,양동,2000.0,2000.0,2000.0,2000.0,2000.00
21,광주,C-유통,3970.0,3970.0,3820.0,3820.0,3895.00,광주,C-유통,2220.0,...,3490.0,3490.0,3615.000,광주,A-유통,2990.0,2990.0,3490.0,3490.0,3240.00
22,대전,역전,2500.0,2500.0,2500.0,2500.0,2500.00,대전,역전,2500.0,...,2390.0,2390.0,2390.000,광주,C-유통,2580.0,2580.0,2390.0,2390.0,2485.00
23,대전,C-유통,3730.0,3730.0,3730.0,3730.0,3730.00,대전,C-유통,3480.0,...,2500.0,2500.0,2500.000,대전,역전,2750.0,2500.0,2500.0,2500.0,2562.50
24,대전,E-유통,4680.0,4680.0,3970.0,3970.0,4325.00,대전,E-유통,4000.0,...,2810.0,2810.0,2810.000,대전,C-유통,2580.0,2580.0,2810.0,2810.0,2695.00
25,울산,신정,2800.0,2800.0,2800.0,2800.0,2800.00,울산,신정,2800.0,...,3480.0,3480.0,3415.000,대전,E-유통,3350.0,3350.0,3350.0,3350.0,3350.00
26,울산,A-유통,3680.0,4510.0,4510.0,4510.0,4302.50,울산,A-유통,3680.0,...,2500.0,2500.0,2500.000,울산,신정,2500.0,2500.0,2500.0,2500.0,2500.00
27,세종,C-유통,3510.0,3510.0,3510.0,3510.0,3510.00,세종,C-유통,3510.0,...,3490.0,3490.0,3490.000,울산,A-유통,2990.0,2990.0,3490.0,3490.0,3240.00
28,수원,지동,3000.0,3000.0,3000.0,2500.0,2875.00,수원,지동,2500.0,...,2810.0,2810.0,2690.000,세종,C-유통,3040.0,3040.0,2810.0,2810.0,2925.00
29,수원,B-유통,2780.0,2780.0,2480.0,2780.0,2705.00,수원,B-유통,2280.0,...,2300.0,2300.0,2300.000,수원,지동,2400.0,2400.0,2400.0,2300.0,2375.00
30,의정부,A-유통,4390.0,4390.0,4390.0,4390.0,4390.00,의정부,A-유통,3590.0,...,1700.0,1700.0,1800.000,수원,B-유통,1900.0,1900.0,1900.0,1900.0,1900.00
31,춘천,중앙,2160.0,2000.0,2000.0,2000.0,2040.00,춘천,중앙,2160.0,...,3490.0,3490.0,3490.000,의정부,A-유통,2990.0,2990.0,3490.0,3490.0,3240.00
32,춘천,E-유통,4680.0,4680.0,3970.0,3970.0,4325.00,춘천,E-유통,4000.0,...,2000.0,1930.0,1982.500,춘천,중앙,2000.0,2000.0,2000.0,2000.0,2000.00
33,강릉,중앙,2830.0,2830.0,2830.0,2830.0,2830.00,강릉,중앙,2830.0,...,3970.0,3970.0,3900.000,춘천,E-유통,4260.0,4260.0,3830.0,3830.0,4045.00
34,강릉,A-유통,3740.0,4770.0,4770.0,4770.0,4512.50,강릉,A-유통,3540.0,...,2500.0,2500.0,2500.000,강릉,중앙,2500.0,2500.0,2500.0,2500.0,2500.00
35,청주,육거리,2000.0,2000.0,2330.0,2500.0,2207.50,청주,육거리,2000.0,...,3490.0,3490.0,3490.000,강릉,A-유통,2990.0,2990.0,3490.0,3490.0,3240.00
36,청주,B-유통,2280.0,2280.0,2280.0,2480.0,2330.00,청주,B-유통,2280.0,...,2000.0,2000.0,2000.000,청주,육거리,2000.0,2000.0,2000.0,2000.0,2000.00
37,전주,남부,2500.0,2500.0,2500.0,2500.0,2500.00,전주,남부,2500.0,...,2180.0,2180.0,2160.000,청주,B-유통,2100.0,2100.0,2100.0,2100.0,2100.00
38,전주,C-유통,2980.0,2980.0,2480.0,3480.0,2980.00,전주,C-유통,2980.0,...,2000.0,2000.0,2000.000,전주,남부,2000.0,2000.0,2000.0,2000.0,2000.00
39,순천,역전,2670.0,2670.0,2670.0,2670.0,2670.00,순천,역전,2670.0,...,2390.0,2390.0,2455.000,전주,C-유통,2580.0,2580.0,2520.0,2520.0,2550.00
40,순천,A-유통,3590.0,4390.0,4390.0,4390.0,4190.00,순천,A-유통,3680.0,...,2460.0,2460.0,2460.000,순천,역전,2460.0,2460.0,2460.0,2460.0,2460.00
41,포항,죽도,2340.0,2500.0,2500.0,2500.0,2460.00,포항,죽도,2340.0,...,3490.0,3490.0,3490.000,순천,A-유통,2990.0,2990.0,3490.0,3490.0,3240.00
42,포항,E-유통,4690.0,4690.0,3970.0,3970.0,4330.00,포항,E-유통,4000.0,...,2570.0,2570.0,2570.000,포항,죽도,2570.0,2570.0,2570.0,2570.0,2570.00
43,안동,C-유통,3730.0,3730.0,3730.0,3730.0,3730.00,안동,C-유통,3470.0,...,3480.0,3480.0,3447.500,포항,E-유통,3350.0,3350.0,3350.0,3350.0,3350.00
44,창원,상남,2500.0,2500.0,2500.0,2500.0,2500.00,창원,상남,2500.0,...,2660.0,2660.0,2660.000,안동,C-유통,2870.0,2870.0,2660.0,2660.0,2765.00
45,창원,C-유통,3720.0,3720.0,3720.0,3720.0,3720.00,창원,C-유통,3470.0,...,2500.0,2500.0,2500.000,창원,상남,2660.0,2660.0,2500.0,2500.0,2580.00
46,제주,동문,2500.0,2500.0,2500.0,2500.0,2500.00,제주,동문,2500.0,...,2810.0,2810.0,2735.000,창원,C-유통,2580.0,2580.0,2660.0,2660.0,2620.00
47,제주,C-유통,3487.0,3487.0,3487.0,3487.0,3487.00,제주,C-유통,3487.0,...,3660.0,3660.0,3660.000,제주,동문,3660.0,3660.0,3660.0,3660.0,3660.00
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2980.0,2980.0,2980.000,제주,C-유통,2980.0,2980.0,2980.0,2980.0,2980.00

In [283]:
url = "https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday={}&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N"
date = pd.date_range('2018.12.30', '2020.01.05', freq='W').strftime('%Y-%m-%d')
df = []
for dates in date: 
    urls = url.format(dates)
    print(urls)

https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2018-12-30&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-01-06&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-01-13&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-01-20&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-01-27&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-02-03&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-02-10&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-02-17&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-02-24&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-03-03&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-03-10&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-03-17&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-03-24&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-03-31&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-04-07&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-04-14&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-04-21&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-04-28&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-05-05&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-05-12&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-05-19&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-05-26&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-06-02&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-06-09&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-06-16&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-06-23&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-06-30&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-07-07&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-07-14&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-07-21&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-07-28&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-08-04&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-08-11&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-08-18&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-08-25&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-09-01&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-09-08&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-09-15&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-09-22&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-09-29&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-10-06&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-10-13&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-10-20&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-10-27&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-11-03&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-11-10&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-11-17&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-11-24&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-12-01&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-12-08&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-12-15&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-12-22&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-12-29&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2020-01-05&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N

In [48]:
df1 = pd.DataFrame()
for dates in date: 
    urls = url.format(dates)
    df = pd.read_html(urls, header=0)[5].iloc[:,:-3]
    mean = df.iloc[:,2:7]
    mean = mean.replace("-",0).astype(float)
    df["평균"] = mean.mean(axis = 1)
    df1 = pd.concat([df1,df],axis=1)

In [49]:
df1.to_excel(r'somae_19.xlsx')

In [66]:
df1["평균"]

,평균,평균,평균,평균,평균,평균,평균,평균,평균,평균,...,평균,평균,평균,평균,평균,평균,평균,평균,평균,평균
0,3250.50,3202.6,2997.60,2778.60,2849.20,2715.00,2721.00,2485.60,2339.000,2312.60,...,3023.20,3048.40,3003.40,2905.20,3017.60,2999.250,2938.60,2829.40,2784.750,2754.00
1,4750.00,4414.0,4410.00,4112.00,4164.00,4120.00,4004.00,3774.00,3655.000,3490.00,...,4086.00,4170.00,4148.00,4026.00,4540.00,4540.000,4432.00,4062.00,3940.000,4045.00
2,2000.00,2096.0,2052.00,1866.00,1190.00,1190.00,1748.00,1468.00,1532.500,1480.00,...,1840.00,1850.00,1710.00,1772.00,1522.00,1780.000,1504.00,1412.00,1800.000,1880.00
3,-1.65,-5.3,-6.98,-3.22,0.52,0.35,-6.92,-3.78,-2.725,-3.02,...,0.44,0.58,-4.84,3.04,0.06,-0.025,-2.44,-1.08,-0.675,-0.85
4,2702.50,2728.0,2532.00,2500.00,2500.00,2500.00,2330.00,2330.00,2330.000,2066.00,...,2628.00,2660.00,2796.00,2566.00,2596.00,2540.000,2660.00,2564.00,2660.000,2745.00
5,2500.00,2500.0,2364.00,2330.00,2228.00,2330.00,2364.00,2160.00,2120.000,2000.00,...,2500.00,2500.00,2500.00,2500.00,2500.00,2500.000,2500.00,2364.00,2160.000,2390.00
6,2500.00,2466.0,2330.00,2098.00,2000.00,2000.00,2000.00,2000.00,2000.000,2000.00,...,2500.00,2500.00,2500.00,2500.00,2500.00,2500.000,2100.00,2000.00,2000.000,2205.00
7,3742.50,3684.0,3224.00,2624.00,2840.00,2300.00,2624.00,2732.00,2300.000,2624.00,...,3490.00,3490.00,3530.00,3310.00,3570.00,3690.000,3610.00,3490.00,3490.000,3240.00
8,2730.00,2680.0,2180.00,1900.00,1190.00,1190.00,1864.00,1468.00,1632.500,1580.00,...,2880.00,3180.00,2700.00,1772.00,1534.00,1780.000,2028.00,2012.00,1980.000,1880.00
9,3357.50,3310.0,2914.00,2556.00,2698.00,2380.00,2340.00,2180.00,1812.500,1974.00,...,2930.00,3038.00,3024.00,2936.00,3156.00,3062.500,2960.00,2766.00,2520.000,2550.00
10,4035.00,3914.0,3886.00,3810.00,3970.00,3970.00,3810.00,3518.00,3405.000,3248.00,...,3762.00,3840.00,3866.00,3666.00,3980.00,3980.000,3628.00,3360.00,3210.000,3330.00
11,2400.00,2400.0,2400.00,2400.00,2400.00,2400.00,2400.00,2200.00,2200.000,2200.00,...,3600.00,3564.00,3414.00,3318.00,3314.00,3270.000,3246.00,3198.00,3210.000,3107.50
12,4302.50,4178.0,4178.00,3824.00,3990.00,3190.00,3314.00,2624.00,2300.000,2624.00,...,2500.00,2500.00,2500.00,2500.00,2500.00,2325.000,2000.00,2000.00,2000.000,2325.00
13,3102.50,3666.0,2776.00,1980.00,3286.00,3400.00,3400.00,2216.00,2640.000,2640.00,...,3490.00,3490.00,3490.00,3310.00,3570.00,3690.000,3610.00,3490.00,3490.000,3240.00
14,2500.00,2500.0,2500.00,2200.00,2000.00,2000.00,2000.00,2000.00,2000.000,2000.00,...,3990.00,3990.00,3272.00,3128.00,3128.00,3415.000,4102.00,3844.00,3560.000,3200.00
15,4285.00,4086.0,4090.00,3894.00,4100.00,3270.00,3604.00,2624.00,2300.000,2516.00,...,2500.00,2500.00,2500.00,2500.00,2500.00,2500.000,2500.00,2500.00,2500.000,2500.00
16,3720.00,3620.0,3070.00,2554.00,2796.00,2970.00,2922.00,2576.00,1787.500,1680.00,...,3490.00,3490.00,3430.00,3310.00,3570.00,3690.000,3610.00,3490.00,3490.000,3240.00
17,2500.00,2500.0,2500.00,2500.00,2500.00,2500.00,2296.00,2160.00,2160.000,2096.00,...,3480.00,3528.00,3700.00,3140.00,3156.00,3062.500,3024.00,2724.00,2650.000,2620.00
18,4225.00,4156.0,4104.00,4112.00,4038.00,4120.00,4000.00,3768.00,3652.500,3484.00,...,2500.00,2500.00,2500.00,2500.00,2500.00,2500.000,2500.00,2500.00,2500.000,2500.00
19,2500.00,2500.0,2500.00,2500.00,2500.00,2500.00,2200.00,2040.00,2000.000,2000.00,...,4026.00,4140.00,4144.00,4026.00,4540.00,4540.000,4256.00,3886.00,3900.000,3685.00
20,3570.00,3684.0,3224.00,2624.00,2840.00,2300.00,2624.00,2840.00,2705.000,2624.00,...,2500.00,2500.00,2500.00,2500.00,2500.00,2375.000,2000.00,2000.00,2000.000,2000.00
21,3895.00,3568.0,2498.00,2636.00,2914.00,2380.00,2568.00,2766.00,2385.000,1564.00,...,3490.00,3490.00,3530.00,3310.00,3570.00,3690.000,3610.00,3490.00,3615.000,3240.00
22,2500.00,2500.0,2382.00,2330.00,2330.00,2330.00,2280.00,2000.00,2000.000,2120.00,...,3480.00,3580.00,3478.00,3216.00,3390.00,3360.000,3270.00,2624.00,2390.000,2485.00
23,3730.00,3630.0,3080.00,2636.00,2914.00,2640.00,2496.00,2248.00,2145.000,2068.00,...,2500.00,2500.00,2500.00,2500.00,2500.00,2250.000,2500.00,2500.00,2500.000,2562.50
24,4325.00,3350.0,4100.00,4078.00,3992.00,4110.00,3994.00,3764.00,3645.000,3484.00,...,3396.00,3246.00,3094.00,3108.00,3390.00,3162.500,3162.00,3086.00,2810.000,2695.00
25,2800.00,2800.0,2800.00,2800.00,2800.00,2800.00,2800.00,2800.00,2800.000,2680.00,...,3134.00,3200.00,3342.00,3318.00,3980.00,3980.000,3728.00,3402.00,3415.000,3350.00
26,4302.50,4178.0,4094.00,3722.00,3990.00,3190.00,3314.00,2408.00,2300.000,2624.00,...,2700.00,2580.00,2500.00,2500.00,2500.00,2500.000,2500.00,2500.00,2500.000,2500.00
27,3510.00,3510.0,3038.00,2566.00,3084.00,2800.00,2752.00,2400.00,2042.500,2130.00,...,3490.00,3490.00,3490.00,3370.00,3570.00,3690.000,3610.00,3490.00,3490.000,3240.00
28,2875.00,2700.0,2364.00,2278.00,2260.00,2500.00,2306.00,2130.00,2112.500,2060.00,...,3280.00,3324.00,3202.00,3108.00,3342.00,3240.000,3198.00,3086.00,2690.000,2925.00
29,2705.00,2500.0,2220.00,2038.00,1610.00,1865.00,1936.00,1772.00,2010.000,1590.00,...,2300.00,2198.00,2130.00,2130.00,2130.00,2180.000,2300.00,2300.00,2300.000,2375.00
30,4390.00,4070.0,4126.00,3278.00,3930.00,3410.00,3314.00,2840.00,2300.000,2624.00,...,1900.00,1894.00,1710.00,2424.00,1860.00,2122.500,1554.00,1540.00,1800.000,1900.00
31,2040.00,2160.0,2432.00,2500.00,2166.00,2000.00,2000.00,2000.00,2000.000,1966.00,...,3490.00,3490.00,3530.00,3310.00,3570.00,3690.000,3610.00,3490.00,3490.000,3240.00
32,4325.00,4408.0,4000.00,3928.00,3992.00,4110.00,3994.00,3764.00,3645.000,3484.00,...,2432.00,2330.00,2330.00,2066.00,2128.00,2000.000,2000.00,1958.00,1982.500,2000.00
33,2830.00,2830.0,2830.00,2830.00,2830.00,2830.00,2830.00,2830.00,2830.000,2830.00,...,4026.00,4110.00,4054.00,4026.00,4282.00,4540.000,3914.00,3886.00,3900.000,4045.00
34,4512.50,4158.0,4028.00,3572.00,3780.00,3140.00,3618.00,2624.00,2300.000,2624.00,...,2500.00,2500.00,2500.00,2500.00,2500.00,2500.000,2500.00,2500.00,2500.000,2500.00
35,2207.50,2300.0,2096.00,2000.00,2096.00,2000.00,2000.00,2000.00,2000.000,2000.00,...,3490.00,3490.00,3530.00,3310.00,3570.00,3690.000,3610.00,3490.00,3490.000,3240.00
36,2330.00,2320.0,2140.00,1980.00,1980.00,2180.00,1820.00,1680.00,1935.000,1800.00,...,2000.00,2000.00,2000.00,2032.00,2096.00,2000.000,2000.00,2000.00,2000.000,2000.00
37,2500.00,2500.0,2466.00,2330.00,2330.00,2330.00,2250.00,2130.00,2032.500,2000.00,...,1960.00,1980.00,2060.00,2320.00,2180.00,1980.000,1980.00,2100.00,2160.000,2100.00
38,2980.00,2980.0,2584.00,2632.00,2860.00,2640.00,2504.00,2470.00,2410.000,2230.00,...,2020.00,2000.00,2000.00,2000.00,2160.00,2100.000,2020.00,2000.00,2000.000,2000.00
39,2670.00,2670.0,2534.00,2330.00,2330.00,2330.00,2262.00,2160.00,2160.000,2160.00,...,2780.00,2880.00,2922.00,2936.00,3156.00,3062.500,2900.00,2624.00,2455.000,2550.00
40,4190.00,4106.0,4242.00,3824.00,3990.00,3190.00,3314.00,2732.00,2435.000,2624.00,...,2660.00,2500.00,2460.00,2460.00,2460.00,2460.000,2460.00,2460.00,2460.000,2460.00
41,2460.00,2340.0,2340.00,2332.00,2272.00,2340.00,2340.00,2408.00,2400.000,2244.00,...,3490.00,3490.00,3530.00,3310.00,3570.00,3690.000,3610.00,3490.00,3490.000,3240.00
42,4330.00,4414.0,4104.00,4088.00,4002.00,4120.00,4004.00,3774.00,3655.000,3490.00,...,2690.00,2690.00,2480.00,2480.00,2480.00,2525.000,2570.00,2570.00,2570.000,2570.00
43,3730.00,3626.0,3070.00,2554.00,2796.00,2970.00,2922.00,2698.00,1850.000,1946.00,...,3928.00,4170.00,3948.00,3528.00,3542.00,3187.500,3324.00,3402.00,3447.500,3350.00
44,2500.00,2500.0,2500.00,2500.00,2500.00,2500.00,2500.00,2200.00,2200.000,2160.00,...,3270.00,3318.00,3202.00,3108.00,3342.00,3240.000,3126.00,2918.00,2660.000,2765.00
45,3720.00,3620.0,3062.00,2420.00,2602.00,2380.00,2500.00,2462.00,1630.000,2028.00,...,2560.00,2560.00,2536.00,2500.00,2500.00,2500.000,2500.00,2500.00,2500.000,2580.00
46,2500.00,2500.0,2500.00,2432.00,2330.00,2330.00,2330.00,2330.00,1955.000,1500.00,...,2994.00,3346.00,3478.00,3252.00,3480.00,3480.000,3200.00,2792.00,2735.000,2620.00
47,3487.00,3487.0,3487.00,3237.00,2807.20,2725.00,2686.60,2533.00,2386.250,2373.00,...,3830.00,3830.00,3830.00,3830.00,3830.00,3702.500,3660.00,3660.00,3660.000,3660.00
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3480.00,3580.00,3426.00,3300.00,3600.00,3007.500,3480.00,3280.00,2980.000,2980.00

In [68]:
date = pd.date_range('2019.12.29', '2021.01.03', freq='W').strftime('%Y-%m-%d')

df1 = pd.DataFrame()
for dates in date: 
    urls = url.format(dates)
    df = pd.read_html(urls, header=0)[5].iloc[:,:-3]
    mean = df.iloc[:,2:7]
    mean = mean.replace("-",0).astype(float)
    df["평균"] = mean.mean(axis = 1)
    df1 = pd.concat([df1,df],axis=1)

df1.to_excel(r'somae_20.xlsx')

In [70]:
df1["평균"].to_excel(r'somae_mean_20.xlsx')

In [ ]:
date = pd.date_range('2019.12.29', '2021.01.03', freq='W').strftime('%Y-%m-%d')

df1 = pd.DataFrame()
for dates in date: 
    urls = url.format(dates)
    df = pd.read_html(urls, header=0)[5].iloc[:,:-3]
    mean = df.iloc[:,2:7]
    mean = mean.replace("-",0).astype(float)
    df["평균"] = mean.mean(axis = 1)
    df1 = pd.concat([df1,df],axis=1)

df1.to_excel(r'somae_20.xlsx')

In [85]:
d = pd.DataFrame(df1.iloc[0])
d.head(20)

                0
구 분            평균
구 분.1          평균
2일전12/27     2766
3일전12/26     2792
5일전12/24     2791
6일전12/23     2790
평균        2784.75
구 분            평균
구 분.1          평균
2일전01/03     2730
3일전01/02     2720
5일전12/31     2792
6일전12/30     2774
평균           2754
구 분            평균
구 분.1          평균
2일전01/10     2818
3일전01/09     2821
4일전01/08     2831
5일전01/07     2815

In [78]:
# 하루치 데이터
import re

In [79]:
df = pd.DataFrame()

In [ ]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from time import sleep
from urllib.request import urlopen

In [ ]:
# 파값 가격 크롤링 
url = "https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2021-04-06&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N"
page = urlopen(url)
soup = BeautifulSoup(page, "html.parser")

In [113]:
url = "https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday={}&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N"
date = pd.date_range('2019.01.01', periods=3, freq='D').strftime('%Y-%m-%d')
df = []
for dates in date: 
    urls = url.format(dates)
    print(urls)

https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-01-01&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-01-02&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N
https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday=2019-01-03&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N

In [32]:
url = "https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday={}&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N"

date = pd.date_range('2019.01.4', periods=5, freq='').strftime('%Y-%m-%d')  

df1 = pd.DataFrame()
for dates in date: 
    urls = url.format(dates)
    df = pd.read_html(urls, header=None)[3].iloc[:3,:2] 
    df1 = df1.append(df)# 그 데이터 프레임을 다른 링크마다 합치기. 

df1

   구 분  2일전01/04  2일전01/11  2일전01/18  2일전01/25  2일전02/01
0   평균    1860.0       NaN       NaN       NaN       NaN
1  최고값    2000.0       NaN       NaN       NaN       NaN
2  최저값    1700.0       NaN       NaN       NaN       NaN
0   평균       NaN    1660.0       NaN       NaN       NaN
1  최고값       NaN    1800.0       NaN       NaN       NaN
2  최저값       NaN    1400.0       NaN       NaN       NaN
0   평균       NaN       NaN    1520.0       NaN       NaN
1  최고값       NaN       NaN    1800.0       NaN       NaN
2  최저값       NaN       NaN    1300.0       NaN       NaN
0   평균       NaN       NaN       NaN    1460.0       NaN
1  최고값       NaN       NaN       NaN    1500.0       NaN
2  최저값       NaN       NaN       NaN    1400.0       NaN
0   평균       NaN       NaN       NaN       NaN    1680.0
1  최고값       NaN       NaN       NaN       NaN    1900.0
2  최저값       NaN       NaN       NaN       NaN    1500.0

In [14]:
# 정말 비효율적이지만 매일 매일로 해보자 

url = "https://www.kamis.or.kr/customer/price/product/item.do?action=priceinfo&regday={}&itemcategorycode=200&itemcode=246&kindcode=&productrankcode=&convert_kg_yn=N"

period = pd.date_range('2014.01.01', '2015.01.01', freq='D').strftime('%Y-%m-%d') 

price_df = pd.DataFrame()

for date in period: 
    urls = url.format(date)
    df = pd.read_html(urls, header=0)[3].iloc[:3,1:2]
    price_df = price_df.append(df.T)
price_df.reset_index(drop=True, inplace=True)
date_df = pd.DataFrame(period)
price_df= pd.concat([date_df, price_df], axis=1)
price_df.columns = ["date", "avg_price", "max_price", "min_price"]

price_df.to_excel(r"price_df_2014.xlsx")

In [15]:
price_df.to_excel(r"price_df_2014.xlsx")

# Selenium을 활용하여 날씨 데이터 크롤링

In [5]:
from selenium import webdriver
from selenium.webdriver.support.select import Select
import time

In [101]:
driver = webdriver.Chrome('./chromedriver')
driver.get("https://data.kma.go.kr/climate/StatisticsDivision/selectStatisticsDivision.do?pgmNo=158")

region = """//*[@id="btnStn"]"""
driver.find_element_by_xpath(region).click()

time.sleep(2)
choose_all = """//*[@id="ztree_1_check"]"""
driver.find_element_by_id("ztree_1_check").click()

finish = """//*[@id="sidetreecontrol"]/a"""
driver.find_element_by_xpath(finish).click()

# 일별 선택 
day = """//*[@id="dataFormCd"]/option[1]"""
driver.find_element_by_xpath(day).click()

# 시작하는 년도: 끝나는 년도와 동일
startYear= Select(driver.find_element_by_xpath('//*[@id="startYear"]'))
startYear.select_by_value('2021')

# 끝나는 년도: 시작하는 년도랑 동일 
endYear= Select(driver.find_element_by_xpath('//*[@id="endYear"]'))
endYear.select_by_value('2021')

# 시작하는 월: 끝나는 월과 동일 
startMonth= Select(driver.find_element_by_xpath('//*[@id="startMonth"]'))
startMonth.select_by_value('05')
    
# 끝나는 월: 시작하는 월과 동일 
endMonth= Select(driver.find_element_by_xpath('//*[@id="endMonth"]'))
endMonth.select_by_value('05')

# 시작하는 날: 끝나는 날과 동일 
startDate= Select(driver.find_element_by_xpath('//*[@id="startDay"]'))
startDate.select_by_value('05')

# 끝나는 날: 시작하는 날과 동일 = 하루 
endDate= Select(driver.find_element_by_xpath('//*[@id="endDay"]'))
endDate.select_by_value('05')

search = """//*[@id="schForm"]/div[3]/button"""
driver.find_element_by_xpath(search).click()

weather_df = pd.DataFrame([])
soup = BeautifulSoup(driver.page_source, "lxml")
table = soup.find_all('table')[1]
df = pd.read_html(str(table),header=0)
weather_df.append(df)

ValueError: Length mismatch: Expected 0 rows, received array of length 3

In [35]:
def yearly_data(year): 
    
    driver = webdriver.Chrome('./chromedriver')
    driver.get("https://data.kma.go.kr/climate/StatisticsDivision/selectStatisticsDivision.do?pgmNo=158")

    region = """//*[@id="btnStn"]"""
    driver.find_element_by_xpath(region).click()

    time.sleep(2)
    choose_all = """//*[@id="ztree_1_check"]"""
    driver.find_element_by_id("ztree_1_check").click()

    finish = """//*[@id="sidetreecontrol"]/a"""
    driver.find_element_by_xpath(finish).click()

    # 일별 선택 
    day = """//*[@id="dataFormCd"]/option[1]"""
    driver.find_element_by_xpath(day).click()

    # 시작하는 년도: 끝나는 년도와 동일
    startYear = Select(driver.find_element_by_xpath('//*[@id="startYear"]'))
    startYear.select_by_value(f'{year}')

    # 끝나는 년도: 시작하는 년도랑 동일 
    endYear = Select(driver.find_element_by_xpath('//*[@id="endYear"]'))
    endYear.select_by_value(f'{year}')
    
    df = pd.DataFrame()

         
    for month in range(1,13): 
        time.sleep(0.2)
        startMonth = """//*[@id="startMonth"]/option[{}]"""
        driver.find_element_by_xpath(startMonth.format(month)).click()

        time.sleep(0.2)
        endMonth = """//*[@id="endMonth"]/option[{}]"""
        driver.find_element_by_xpath(endMonth.format(month)).click()

        for date in range(1,32):
            try:
                time.sleep(0.2)
                startDate= """//*[@id="startDay"]/option[{}]"""
                driver.find_element_by_xpath(startDate.format(date)).click()

                time.sleep(0.2)
                endDate= """//*[@id="endDay"]/option[{}]"""
                driver.find_element_by_xpath(endDate.format(date)).click()

                time.sleep(0.2)
                search = """//*[@id="schForm"]/div[3]/button"""
                driver.find_element_by_xpath(search).click()

                soup = BeautifulSoup(driver.page_source, "lxml")
                print(soup.find_all('table'))
                table = soup.find_all('table')[1]
                df1 = pd.read_html(str(table),header=0)
                df = df.append(df1)
                #df.columns = ["date", "avg_temp", "max_temp", "min_temp", "rain_fall"]

                if date is None: 
                    print("day is none")

            except: 
                df.append(np.nan)
                continue

    return df
    driver.quit()

In [38]:
year_13 = yearly_data(2013)
year_13 = year_13.dropna(thresh=2) 
year_13.to_excel(r'2013weather.xlsx')

[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 01~01일</td>
<td>-2.7</td>
<td>3.0</td>
<td>-8.8</td>
<td>2.2</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 02~02일</td>
<td>-5.4</td>
<td>0.4</td>
<td>-10.6</td>
<td>0.6</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 03~03일</td>
<td>-9.3</td>
<td>-4.8</td>
<td>-13.1</td>
<td>1.3</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 04~04일</td>
<td>-8.6</td>
<td>-1.5</td>
<td>-14.2</td>
<td>0.6</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 05~05일</td>
<td>-5.5</td>
<td>1.1</td>
<td>-12.6</td>
<td>0.3</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 06~06일</td>
<td>-3.8</td>
<td>2.4</td>
<td>-8.3</td>
<td>0.0</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 07~07일</td>
<td>-3.7</td>
<td>2.7</td>
<td>-9.3</td>
<td>6.1</td>
</tr>
</tbody>
</table>]

[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 08~08일</td>
<td>-2.8</td>
<td>3.4</td>
<td>-8.2</td>
<td>0.0</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 09~09일</td>
<td>-5.2</td>
<td>-1.2</td>
<td>-9.0</td>
<td>0.2</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 10~10일</td>
<td>-6.5</td>
<td>-0.5</td>
<td>-11.6</td>
<td>1.4</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 11~11일</td>
<td>-3.9</td>
<td>3.2</td>
<td>-11.2</td>
<td>0.1</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 12~12일</td>
<td>0.6</td>
<td>7.1</td>
<td>-5.2</td>
<td>0.4</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 13~13일</td>
<td>-0.4</td>
<td>4.0</td>
<td>-4.5</td>
<td>0.7</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 14~14일</td>
<td>-0.3</td>
<td>6.0</td>
<td>-5.8</td>
<td>1.1</td>
</tr>
</tbody>
</table>]

[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 15~15일</td>
<td>-1.6</td>
<td>5.2</td>
<td>-7.0</td>
<td>0.3</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 16~16일</td>
<td>-0.4</td>
<td>4.2</td>
<td>-5.4</td>
<td>0.6</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 17~17일</td>
<td>-2.7</td>
<td>0.4</td>
<td>-6.0</td>
<td>4.3</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 18~18일</td>
<td>-3.1</td>
<td>3.3</td>
<td>-8.9</td>
<td>0.1</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 19~19일</td>
<td>-0.1</td>
<td>5.8</td>
<td>-5.1</td>
<td>0.2</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 20~20일</td>
<td>1.5</td>
<td>7.2</td>
<td>-4.8</td>
<td>0.4</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 21~21일</td>
<td>4.1</td>
<td>5.6</td>
<td>2.4</td>
<td>18.3</td>
</tr>
</tbody>
</table>]

[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 22~22일</td>
<td>3.7</td>
<td>5.7</td>
<td>2.4</td>
<td>2.5</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 23~23일</td>
<td>2.6</td>
<td>4.2</td>
<td>0.9</td>
<td>1.2</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 24~24일</td>
<td>1.0</td>
<td>4.6</td>
<td>-3.0</td>
<td>0.5</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 25~25일</td>
<td>-4.3</td>
<td>-1.3</td>
<td>-6.5</td>
<td>0.0</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 26~26일</td>
<td>-5.1</td>
<td>-1.0</td>
<td>-8.5</td>
<td>0.5</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 27~27일</td>
<td>-4.7</td>
<td>-0.6</td>
<td>-8.6</td>
<td>0.6</td>
</tr>
</tbody>
</table>]
[<table class="tbl"><caption class="blind">자료설명 - 태그 목록</caption><colgroup><col width="10%"/><col width="90%"/></colgroup><tbody><tr><th scope="row"><strong>태그</strong></th><td>기온, 강수, 바람, 습도, 일조, 일사, 지상, 지점, 방재, 기후통계</td></tr></tbody></table>, <table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 28~28일</td>
<td>-1.7</td>
<td>4.5</td>
<td>-8.5</td>
<td>0.0</td>
</tr>
</tbody>
</table>]

[<table class="tbl">
<!-- ny : caption에 th명 모두 써주기 -->
<caption class="blind">조회 자료 결과 - 일시,
				일시

				,평균기온(℃),최고기온 평균(℃),최저기온 평균(℃),강수량(mm)
				</caption>
<colgroup>
<col span="5" style="width:20%"/>
</colgroup>
<thead>
<tr>
<th onclick="goSortAjax('TMA')" scope="col" style="cursor: pointer;">일시<span id="ODR_TMA"></span></th>
<th onclick="goSortAjax('AVG_TA')" scope="col" style="cursor: pointer;">평균기온(℃)<span id="ODR_AVG_TA"></span></th>
<th onclick="goSortAjax('AVG_DMAX_TA')" scope="col" style="cursor: pointer;">최고기온 평균(℃)<span id="ODR_AVG_DMAX_TA"></span></th>
<th onclick="goSortAjax('AVG_DMIN_TA')" scope="col" style="cursor: pointer;">최저기온 평균(℃)<span id="ODR_AVG_DMIN_TA"></span></th>
<th onclick="goSortAjax('SUM_RN')" scope="col" style="cursor: pointer;">강수량(mm)<span id="ODR_SUM_RN"></span></th>
</tr>
</thead>
<tbody>
<tr>
<td>2013~2013년 01~01월 29~29일</td>
<td>2.3</td>
<td>7.9</td>
<td>-3.0</td>
<td>0.1</td>
</tr>
</tbody>
</table>]

TypeError: cannot concatenate object of type '<class 'float'>'; only Series and DataFrame objs are valid

In [12]:
year_15 = year_15.dropna(thresh=2) 
year_15.to_excel(r'2015weather.xlsx')

In [10]:
year_16 = year_16.dropna(thresh=2) 
year_16.to_excel(r'2016weather.xlsx')

In [201]:
year_18.to_excel(r'2018weather.xlsx')

In [200]:
year_18

                          일시  평균기온(℃)  최고기온 평균(℃)  최저기온 평균(℃)  강수량(mm)
0   2018~2018년 01~01월 01~01일     -0.2         5.2        -4.8      0.0
0   2018~2018년 01~01월 02~02일      0.3         6.0        -5.2      0.0
0   2018~2018년 01~01월 03~03일     -1.4         3.0        -5.0      1.9
0   2018~2018년 01~01월 04~04일     -1.6         2.4        -5.5      1.9
0   2018~2018년 01~01월 05~05일      0.0         4.7        -3.3      1.2
..                       ...      ...         ...         ...      ...
0   2018~2018년 12~12월 27~27일     -4.4        -0.1        -7.7      0.7
0   2018~2018년 12~12월 28~28일     -6.6        -2.3       -10.3      1.6
0   2018~2018년 12~12월 29~29일     -4.9        -0.5        -9.3      0.6
0   2018~2018년 12~12월 30~30일     -4.4         1.1        -9.0      0.2
0   2018~2018년 12~12월 31~31일     -3.0         4.0        -9.4      0.0

[372 rows x 5 columns]

In [186]:
year_21 = yearly_data(2021)

In [187]:
year_21.head(33)

                         일시  평균기온(℃)  최고기온 평균(℃)  최저기온 평균(℃)  강수량(mm)
0  2021~2021년 01~01월 01~01일     -2.7         2.1        -8.4      0.4
0  2021~2021년 01~01월 02~02일     -2.2         1.9        -6.2      0.4
0  2021~2021년 01~01월 03~03일     -2.7         1.6        -6.8      0.1
0  2021~2021년 01~01월 04~04일     -1.4         4.5        -7.3      0.4
0  2021~2021년 01~01월 05~05일     -1.7         2.4        -6.6      0.2
0  2021~2021년 01~01월 06~06일     -4.8        -0.2        -9.9      1.3
0  2021~2021년 01~01월 07~07일    -10.0        -3.3       -13.9      1.8
0  2021~2021년 01~01월 08~08일    -11.5        -6.7       -15.8      1.9
0  2021~2021년 01~01월 09~09일     -9.5        -3.8       -15.0      2.3
0  2021~2021년 01~01월 10~10일     -6.4        -0.2       -13.0      0.8
0  2021~2021년 01~01월 11~11일     -4.9        -0.9        -9.0      2.0
0  2021~2021년 01~01월 12~12일     -2.4         3.1        -8.6      0.9
0  2021~2021년 01~01월 13~13일      3.4        10.0        -3.7      0.0
0  2021~2021년 01~01월 14~14일      3.4        10.6        -2.4      NaN
0  2021~2021년 01~01월 15~15일      6.4        13.5        -0.8      0.2
0  2021~2021년 01~01월 16~16일     -0.2         4.8        -4.1      4.5
0  2021~2021년 01~01월 17~17일     -3.2         0.8        -7.3      0.4
0  2021~2021년 01~01월 18~18일     -1.4         3.9        -6.0      1.8
0  2021~2021년 01~01월 19~19일     -4.4         1.6        -9.8      0.4
0  2021~2021년 01~01월 20~20일     -0.2         8.7        -8.2      NaN
0  2021~2021년 01~01월 21~21일      5.1        10.5        -1.1      4.0
0  2021~2021년 01~01월 22~22일      7.1        10.1         4.9      1.8
0  2021~2021년 01~01월 23~23일      7.7        10.6         5.3      5.8
0  2021~2021년 01~01월 24~24일      6.7        11.8         2.6      0.3
0  2021~2021년 01~01월 25~25일      6.2        12.9         1.4      0.1
0  2021~2021년 01~01월 26~26일      5.2         7.6         2.7      6.3
0  2021~2021년 01~01월 27~27일      3.5         8.7        -0.4      NaN
0  2021~2021년 01~01월 28~28일     -0.3         6.9        -5.7      1.3
0  2021~2021년 01~01월 29~29일     -5.1        -0.8        -8.4      0.5
0  2021~2021년 01~01월 30~30일      0.0         7.4        -7.7      0.2
0  2021~2021년 02~02월 01~01일      7.0        11.0         2.6     10.3
0  2021~2021년 02~02월 02~02일     -1.7         4.0        -4.6      0.1
0  2021~2021년 02~02월 03~03일     -1.4         3.7        -7.1      1.4

In [164]:
year_20 = yearly_data(2020)

In [30]:
year_19 = yearly_data(2019)

In [170]:
years_20 = year_20.dropna(thresh=2)

In [181]:
year_21 = year_21.dropna(thresh=2)

In [171]:
years_20.to_excel(r'2020weathers.xlsx')

In [183]:
year_21.to_excel(r'2021weather.xlsx')

In [32]:
year.to_excel(r'2020weather.xlsx')

In [25]:
year.to_csv(r'2020weather.csv')

In [156]:
weather = pd.read_excel('./2020weather.xlsx')
weather = weather.dropna()
weather.to_excel(r'2020weather.xlsx')

In [ ]:
- 스크레피 쓰기